services:
  db:
    image: postgres:17
    container_name: postgres-db
    environment:
      POSTGRES_DB: gopher_social
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword

    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:9.10
    container_name: pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin@123
      - PGADMIN_CONFIG_ENABLE_PSQL=True
    ports:
      - "9090:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  db-data:
  pgadmin-data:
